#header
	%ul
		%li
			= link_to "Home", restaurants_path
			- if controller?("restaurants") && action?("show")
				= link_to "Edit", edit_restaurant_path(@restaurant)
		%li
			= link_to "Sign_in", new_user_session_path
		%li
			= link_to "Sign out", destroy_user_session_path, method: :delete